[submodule "vcalo"]
	path = vcalo
	url = git@github.com:wangz1996/vcalo.git
[submodule "vdisplay"]
	path = vdisplay
	url = git@github.com:wangz1996/vdisplay.git
[submodule "Tools"]
	path = Tools
	url = git@github.com:wangz1996/Tools.git
